{% extends "base.html" %}
{% block content %}
<h2>zipflights</h2>
<h3>AIRFARE SEARCH ASSISTANT</h3>
<br>

<a href="/fly"><h1>Flexible:</h1></a>
  <h3>Not sure where/when to go?</h3>
<ul><h3><div><a href="/fly">Destination Recommendations and Month-long Search</a> -- Find good value routes from your home airport and check prices by the month.</div></ul>
<br>
<a href="/fly-nonstop"><h1>Not Flexible:</h1></a>
  <h3>Want to fly non-stop?</h3>
<ul><h3><div><a href="/fly-nonstop">Save Money on Non-Stops</a> -- Get around the premium charged for non-stop vs. connecting flights.</div></ul>


{% endblock %}
